@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

/* - Mobile: 375px - Desktop: 1440px */

:root {
    /* Cores Primárias */
    --vermelho-claro: hsl(0, 100%, 67%);
    --amarelo-alaranjado: hsl(39, 100%, 56%);
    --verde-azulado: hsl(166, 100%, 37%);
    --azul-cobalto: hsl(234, 85%, 45%);

    /* Cores Neutras */
    --branco: hsl(0, 0%, 100%);
    --azul-palido: hsl(221, 100%, 96%);
    --lavanda-claro: hsl(241, 100%, 89%);
    --azul-cinza-escuro: hsl(224, 30%, 27%);

    /* Gradientes
        --azul-ardosia-claro (background): hsl(252, 100%, 67%);
        --azul-real-claro (background): hsl(241, 81%, 54%);

        --azul-violeta (circle): hsla(256, 72%, 46%, 1);
        --azul-persa (circle): hsla(241, 72%, 46%, 0);
    */
}

html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Hanken Grotesk', sans-serif;
    text-align: center;
}

body {
    height: 100vh;
    width: 100vw;
}

body p {
    font-size: 18px;
}

.container {
    border: 2px solid black;
}

.quadro {
    background: linear-gradient(
        hsl(252, 100%, 67%),
        hsl(241, 81%, 54%)
    );
    border-radius: 0 0 20px 20px;
    display: block;
    margin: auto;
}

.quadro h1, .quadro h2 {
    color: var(--branco);
}

.quadro h3 {
    color: var(--lavanda-claro);
}

.quadro p {
    color: var(--lavanda-claro);
}

.circulo {
    background: linear-gradient(
        hsla(256, 72%, 46%, 1),
        hsla(241, 72%, 46%, 0)
    );
    border-radius: 50%;
    width: 50%;
    margin: auto;
}

.dados h3 {
    text-align: left;
}

.reacao {
    color: var(--vermelho-claro);
}

input {
    width: 100%;
}

/* Footer */
.attribution { 
    font-size: 11px; text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}